@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background-color: rgb(224, 224, 224);
    font-family: "Noto Sans KR", sans-serif !important;
  }
  
  header {
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(255, 255, 255);
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: rgb(155, 89, 182);
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(155, 89, 182);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(246, 180, 255, 0.8);
  }
  .a_box{
    height: 480px;
    background: url(https://adventure.lotteworld.com/image/2020/6/202006010125571450_1350.jpg) no-repeat 50% 0;
    background-size:cover;
    position: relative;
   margin: 0 auto;
  }
 
  .a_box >.category{
    position: absolute;
    margin-top: 25px;
    margin-left: 10%;
    font-size: 16px;
    color: white;
  }
  .a_box >.s_title{
    margin-left: 825px;
    position: absolute;
    margin-top: 200px;
    text-align: center;
    color: white;
}
.a_box >.s_title> .a{
  font-size: 50px;
  text-shadow: 5px -3px 5px rgba(12, 11, 11, 0.342);
}
.pb{
  margin-top: 10px;
}
.at_box{
margin: 100px;
display: flex;
}
.ride, .ride_info{
  margin: auto;
  width: 220px;
  height: 350px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.care{
  margin: auto;
  width: 500px;
  height: 350px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}